html {
    height: 100%;
}

body {
    height: 100%;
}

div#app {
    height: 100%;
}

.visual-lab {
    height: 100%;
    background-color: #373737;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cabinet {
    display: grid;

    grid-template-columns: repeat(3, 44px);
    grid-template-rows: repeat(6, 44px);
    column-gap: 6px;
    row-gap: 6px;

    margin: 15px;
}

.cabinet-header {
    grid-row: 1;
    grid-column: 1 / span 3;

    background-color: #1c1c23;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 3px;

    font-size: large;
    color: white;
    text-align: center;
    align-items: center;

    box-shadow: 0px 0px 3px #0f0f11;
}

.cell {
    position: relative;
    display: flex;
    justify-content: center;

    background-color: #1c1c23;
    border-radius: 5px;
    width: 44px;
    height: 44px;
    color: white;
    margin: 3px;

    font-family: 'Roboto';
    font-size: larger;

}

.cell-animation {
    animation-name: appear-vertical;
    animation-fill-mode: both;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}

.cell-text {
    align-self: center;
}

.status-bar {
    position: absolute;
    bottom: 10%;

    height: 3px;
    width: 66%;
    border-radius: 1.5px;
}

.status-bar-animation {
    width: 0%;
    animation-name: appear-horizontal;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}

.status-good > div.status-bar {
    background-color: #72fa93;
}

.status-down > div.status-bar {
    background-color: #e45f2b;
}

.status-unknown-device > div.status-bar {
    background-color: #f6c445;
}

.status-broken > div.status-bar {
    background-color: #e39af0;
}

.status-misconfigured > div.status-bar {
    background-color: #9ac1f0;
}

.status-good {
    box-shadow: 0px 0px 3px #72fa93;
}

.status-down {
    box-shadow: 0px 0px 3px #e45f2b;
}

.status-unknown-device {
    box-shadow: 0px 0px 3px #f6c445;
}

.status-broken {
    box-shadow: 0px 0px 3px #e39af0;
}

.status-misconfigured {
    box-shadow: 0px 0px 3px #9ac1f0;
}

.vl-tooltip {
    border-radius: 5px;
    background-color: #101014;
    box-shadow: 0px 0px 3px #0f0f11;
    position: absolute;
    left: -100%;
    padding: 10px;
    z-index: 1;
}

@keyframes appear-vertical {
    from {
        height: 0px;
        font-size: 0;
    }
    to {
        height: 100%;
        font-size: larger;
    }
}

@keyframes appear-horizontal {
    from {
        width: 0px;
    }
    to {
        width: 66%;
    }
}
